
  <%= form_for(@ustatus) do |f| %>
    <% if @ustatus.errors.any? %>
    <% end %>

    <div class="field">
      <%= f.hidden_field :user_id %>
    </div>

    <br><br>
    <%= f.label :Status %>
    <%= f.collection_select(:status, Statusvalue.where("langu= 'EN'"), :id, :text ) %>
    <br>
    <%= f.label :Date %>
    <%= f.number_field :sdate %>
    <br><br>
    <%= f.submit "Add Status", class: "btn btn-primary" %>
  <% end %>

 
