    <% if @address.nil? %>
           <p>your address is not maintained, please maintain address here</p>
           <br><br><br>
           <%= link_to "Create Address", edit_address_path , class: "btn btn btn-info" %>
    <% else %>
         <h3>Your Personal Data:</h3>
         <br>

         <div class="row"> 

           <div class="span2">
             <p><strong>First Name:</strong></p>
           </div>
           <div class="span2">
             <p><%= @address.fname %> </p> 
           </div>
           <div class="span2">
             <p><strong>Last Name:</strong></p>
           </div>
           <div class="span2">
             <p><%= @address.lname %> </p>
           </div>
         </div> <!--row -->
         
         <div class="row">
           <div class="span2">
             <p><strong>Street:</strong></p>
           </div>
           <div class="span2">
             <p><%= @address.streetno %> </p> 
           </div>
           <div class="span2">
             <p><strong>Phone</strong></p>
           </div>
           <div class="span3">
             <p><%= @address.phone1 %> </p>
           </div>
         </div>   <!--row -->

         <div class="row">
           <div class="span2">
             <p><strong>City:</strong></p>
           </div>
           <div class="span2">
             <p><%= @address.city %> </p> 
           </div>
           <div class="span2">
             <p><strong>Mobile</strong> </p>
           </div>
           <div class="span3">
             <p><%= @address.phonem %> </p>
           </div>
         </div> <!--row -->


         <div class="row">
           <div class="span2">
             <p><strong>Zip:</strong></p>
           </div>
           <div class="span2">
             <p><%= @address.zip %> </p> 
           </div>
           <div class="span2">
             <p><strong>Country:</strong></p>
           </div>
           <div class="span2">
             <p><%= @address.country %> </p> 
           </div> 
         </div> <!--row -->

       <div class="row">
         <div class="span4 ">
           <br>
           <%= link_to "Change Address", edit_address_path , class: "btn btn btn-info" %>
           <%= link_to "Change Password", changepwd_user_path , class: "btn btn btn-info" %>
         </div>
       </div> <!--row -->
    <% end %>
         

