<div class="row">
  <div class="span10">
    <ul class="media-grid">      
      <li><a><img src="/assets/intro_biot_long2.jpg"></a></li> 
    </ul>
  </div>
</div>


<% provide(:title, @user.name) %>
    <section>
        <p><big><strong>
          <% flash.each do |key, value| %>
          <br>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
          <% end %>
        <p></big></strong> 
      <h2><strong>
        Hello 
        <%= @user.name %>
      </h2></strong>
      <br>
      <br>

    <ul class="nav nav-tabs" id="FMStab">
    <li class="active"><a href="#person">Personal Data</a></li>
    <li><a href="#booking">Your Booking</a></li>
    <li><a href="#history">Booking History</a></li>
    <li><a href="#findus">Directions</a></li>
    </ul>


<div class="tab-content">


<div class="tab-pane active" id="person">
  <br>
  <div class="fms2">
   <%= render 'tab_person' %>
  </div> <!--fms2 frame -->
</div> <!-- tab -->

<div class="tab-pane" id="booking">
  <br>
  <div class="fms2">
   <%= render 'tab_booking' %>
  </div> <!-- frame -->
</div> <!-- tab -->

<div class="tab-pane" id="history">
  <br>
  <div class="fms2">
   <%= render 'tab_history' %>
  </div>  <!-- fms2 frame -->  
</div> <!-- tab -->


  <div class="tab-pane" id="findus">
    <br>
    <div class="fms2">
   <%= render 'tab_findus' %>
    </div>  <!-- fms2 frame -->  
  </div> <!-- tab findus -->




    <script>
    
    $('#FMStab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    </script>

     <br><br>

     

<!-- Message form --> 

<%= render 'form_message' %>

   
    </div>


        
    </section>
       
