    <ul class="nav nav-pills" id="FMS2tab">
      <li class="active"><a href="#Biot">Biot</a></li>
      <li><a href="#Glass">Glass Blowing</a></li>
      <li><a href="#Musee">Museum</a></li>
      <li><a href="#Marine">Marineland</a></li>
    </ul>

<hr>
<br>
<div class="tab-content">

  <div class="tab-pane active" id="Biot">
    <div class="row">
      <div class="span10">
        <ul class="media-grid">  
          <li><a><img src="/assets/montage_1.jpg"></a></li>
        </ul>
      </div>
    </div>
<% if langu == 'EN' %>
          Biot’s history dates back to the Roman Empire when it was officially mentioned for the first   
          time. And even now, one cannot fail to recognise that the history of the old village ("le vieux 
          village") has been quite agitated. Today, this historic centre provides a perfect setting for 
          typical village life in the south of France and thus is a popular place for tourists. 
          Nonetheless, Biot 
          has been able to retain its individuality and authenticity which is reflected in its narrow
          streets, cobbled roads and many other hidden charms. 
     
        No matter if you want to take a stroll at the beach, in one of the near 
	parcs or along the river "la Brague", on foot, by bus or by car it's all 
	just a few minutes away. On the other hand you can enjoy the day in the 
	village, on one of it's plenty places or on the terrace of a café or
	restaurant.
<% end %>
<% if langu == 'FR' %>
Les premières traces humaines de Biot remontent à l'antiquité, il y a plus de 2000 ans. Aujourd'hui on constate que ce village était témoin de beaucoup d'événements historiques qui en ont formé un lieu unique de la Côte d'Azur. Le centre historique, le vieux village, est devenu un lieu d'attractions pour les touristes mais aussi pour les gens du coin, car Biot a toujours su préserver son caractère authentique et individuel à l'abri du tourisme de masse.
Peu importe si vous voulez vous promenez à la plage, dans un des nombreux parcs ou au bord de la Brague - la petite rivière qui coule à Biot - tout est faisable à pied, en bus ou en prenant la voiture. Pour faire plus simple, vous pouvez également passer une journée agréable au village. Sur une de ses belles places ou sur la térasse d'un bar ou d'un restaurant.

<% end %>
<% if langu == 'DE' %>
Biot wurde bereits zur Römerzeit erstmals urkundlich erwähnt und man erkennt noch heute, dass das alte Dorf, le vieux village, bereits eine ganze Menge erlebt hat. Der historische Altstadt-Kern ist heute Schauplatz des typischen Dorflebens im Süden Frankreichs und in der Sommersaison ein beliebter Ort für Touristen. Dabei wurde Biot gleichzeitig vom Massentourismus verschont und konnte dadurch seine Individualität wahren.
Ganz gleich ob man einen Spaziergang am Strand, in einem der nahegelegenden Parks oder am Ufer der Brague unternimmt; alles ist zu Fuß, mit dem Bus oder mit dem Auto innerhalb weniger Minuten zu erreichen. Man kann den Tag aber auch einfach im Dorf genießen, am besten auf einem der zahlreichen Plätze oder auf der Terasse einer Bar oder eines Restaurants.
<% end %>
    <br>
    <table class="table">  
      <thead>  
        <tr>  
          <th>Name</th>  
          <th>URL</th>  
        </tr>  
      </thead>  
      <tbody>  
        <tr>  
          <td>Biot</td>  
          <td><%= link_to "www.biot.fr","http://www.biot.fr", :target => "_blank" %> </td>  
        </tr>  
        <tr>  
          <td>Biot Tourism</td>  
          <td><%= link_to "www.biot-tourisme.com","http://www.biot-tourisme.com", :target => "_blank" %> </td>  
        </tr>  
        <tr>  
          <td>Anglo Info</td>  
          <td><%= link_to "www.angloinfo.com","http://www.angloinfo.com", :target => "_blank" %> </td>  
        </tr>  
      </tbody>  
    </table>
  </div> <!-- tab Biot -->

  <div class="tab-pane" id="Glass">
    <div class="row">
      <div class="span10">
        <ul class="media-grid">   
          <li><a><img src="/assets/verrex1.jpg"></a></li>
        </ul>
      </div>
    </div>
    <% if langu == 'DE' %>
      Berühmt wurde der Ort durch das Keramikhandwerk und die Glasbläserkunst, die sich im 18. Jahrhundert in
      Biot ansiedelte. Damals hatte dieses Traditionshandwerk allerdings noch keine künstlerische Komponente, 
      es ging lediglich darum, Gegenstände für den täglichen Gebrauch herzustellen. Der größte Betrieb am Ort 
      ist die "Verrerie de Biot".
      Das besondere Markenzeichen des Betriebes ist eigentlich ein Fehler im Herstellungsverfahren, der dafür sorgt, 
      dass kleine Luftblasen in das noch flüssige Glas eingearbeitet werden. Dies verleiht dem fertigen 
      Produkt einen besonderen Charme und Einzigartigkeit. Darüber hinaus findet man im Dorf und in der 
      unmittelbaren Umgebung noch zahlreiche weitere, kleinere Glasbläsereien, denen man bei der Arbeit zusehen
      kann, und die ihre Produkte in kleinen Boutiquen zum Verkauf anbieten. 
    <% end %>
    <% if langu == 'EN' %>
      Biot became famous in the 18th Century for its ceramic and glass blowing handicrafts. At that time, 
      these traditional crafts was purely functional as their sole purpose was to manufacture articles for
      everyday use. These traditional crafts have gained much acclaim as the knowledge and skill involved have 
      been carefully nurtured. The largest glass blowing factory is the "Verrerie de Biot" .
      The factory practises what was originally an error in the manufacturing process, which left tiny bubbles 
      of air trapped in the glass. This lends a special charm and uniqueness to the finished product. In addition
      to the “Verrerie de Biot” there are many smaller glassblowing ateliers (workshops) in and around the village,
      where you can watch the artists at work; if you like what you see you can browse and buy their products in 
      the small boutiques. 
    <% end %>
    <% if langu == 'FR' %>
      Biot est connu pour l’artisanat de la céramique et de la verrerie qui s’est développé au 18ème siècle. 
      A cette époque, le but de ce travail manuel était bien différent de celui d'aujourd'hui car il s'agissait
      simplement de fabriquer des produits ménagers qu'on utilisait dans toutes les maisons. La plus grande
      entreprise sur place est la "Verrerie de Biot" . La spécialité de cette 'usine' est une petite faute dans 
      le processus de production qui introduit des petites bulles d'air dans le verre encore liquide. L'objet 
      fini est ainsi doté d'un charme et d'un caractère unique dans le monde. Dans le village et les alentours
      travaillent d’autres artisans qui présentent leur travail dans des boutiques et qui donnent la possibilité 
      de suivre le maître verrier dans son travail. Mais attention, surtout en été, en observant par la fenêtre,
      vous risquez d’avoir encore un peu plus chaud.... 
    <% end %>

    <br><br><br>

    <table class="table">  
      <thead>  
        <tr>  
          <th>Name</th>  
          <th>URL</th>  
        </tr>  
      </thead>  
      <tbody>  
        <tr>  
          <td>Verrerie de Biot</td>  
          <td><%= link_to "www.verreriebiot.com","http://www.verreriebiot.com", :target => "_blank" %> </td>  
         </tr>  
         <tr>  
           <td>Next</td>  
           <td><%= link_to "Next","http://next", :target => "_blank" %> </td>  
         </tr>  
      </tbody>  
    </table>
  </div> <!-- tab -->

  <div class="tab-pane" id="Musee">
    <div class="row">
      <div class="box2">
        <div id="FMSCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><li><a><img src="/assets/musee1.jpg"></a></li></div>
            <div class="item"><li><a><img src="/assets/musee2.jpg"></a></li></div>
            <div class="item"><li><a><img src="/assets/musee3.jpg"></a></li></div>
            <div class="item"><li><a><img src="/assets/musee4.jpg"></a></li></div>
            <div class="item"><li><a><img src="/assets/musee5.jpg"></a></li></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
      <div class="box3">
      </div>
      <div class="box2">

    <% if langu == 'DE' %>
        Der bekannte französische Maler Fernand Leger(1881-1955) lebte und malte von 1949 bis kurz 
        vor seinem Tode in Biot. Das ihm gewidmete National-Museum "Musée Fernad Leger" liegt ca. 2 km südlich 
        des Dorfes. 
        <hr>
        In Antibes, am Ende der Altstadt, befindet sich das Picasso-Museum. Es liegt unmittelbar am Meer 
        und man hat von dort einen tollen Ausblick auf die Kuestenorte und das Cap d'Antibes.
        <hr>
        Darüber hinaus gibt es in der ganzen Region eine Vielzahl von Museen und Galerien
<% end %>
    <% if langu == 'FR' %>
Le célèbre peintre français, Fernand Leger, né en 1881, s'est installé à Biot en 1949 et y restait jusque peu avant sa mort en 1955. " Le Musée National Fernand Leger" de Biot se situe à 1km au sud du village et présente une vaste collection de tableaux ainsi que des céramiques auxquels l'artiste consacrait une grande partie de sa vie (En 2007 le musée reste fermé pour travaux). Dans le vieux village on trouve également un petit musée qui expose les oeuvres des artistes locals et qui raconte sur l'histoire et les traditions biotoises. 
<hr>
<% end %>
    <% if langu == 'EN' %>
The famous french artist Fernand Leger (1881-1955) lived and painted in Biot until 1949. The dedicated museum "Musée Fernand Leger" is located 2 km south of the village. Unfortunately the museum is closed for reconstruction and modernisation at the moment but should reopen in 2008. A few of Fernand Leger's works are currently shown in the "Musée de Céramique" in the village, which also informs about Biot's history in a permanent exhibition.
<hr>
You will find more museums in Antibes (Picasso) and of course in Nice and the whole Alpes-Maritimes
<% end %>
      </div>
    </div>
    <table class="table">  
      <thead>  
        <tr>  
          <th>Name</th>  
          <th>URL</th>  
        </tr>  
      </thead>  
      <tbody>  
          <tr>  
            <td>Fernand Leger</td>  
            <td><%= link_to "http://www.musees-nationaux-alpesmaritimes.fr/fleger/", 
                 "http://www.musees-nationaux-alpesmaritimes.fr/fleger/", :target => "_blank" %> </td>  
          </tr>  
          <tr>  
            <td>Picasso Antibes</td>  
            <td><%= link_to "http://www.musees-nationaux-alpesmaritimes.fr/picasso/",
                    "http://www.musees-nationaux-alpesmaritimes.fr/picasso/", :target => "_blank" %> </td>  
          </tr>  
          <tr>  
            <td>In the region</td>  
            <td><%= link_to "http://www.musees-nationaux-alpesmaritimes.fr/",
                      "http://www.musees-nationaux-alpesmaritimes.fr/", :target => "_blank" %> </td>  
          </tr>  

      </tbody>  
    </table>
    <script>
      $(function(){
      $('#FMSCarousel').carousel();
      });
    </script>
  </div> <!-- tab Museum-->

  <div class="tab-pane" id="Marine">
    <div class="row">
      <div class="span10">
        <ul class="media-grid">   
          <li><a><img src="/assets/sea2.jpg"></a></li>
        </ul>
      </div>
    </div>
    <% if langu == 'FR' %>
      Le 'parc de la mer' avec son spectacle de dauphins et d'orques se trouve pas loin du village sur la 
      'route de la mer'. On y trouve aussi un mini-golf aventure et un petit parc animalier.
      N'hesitez pas à regarder son site internet.
    <% end %>
    <% if langu == 'DE' %>
      Der bekannte Meeres- und Freizeitpark mit Wal- und Delphinshow befindet sich direkt 
      vor den Toren des Dorfes, an der 'Route de la mer' auf dem Weg zum Strand. Außerdem 
      gibt es dort eine 'Adventure' Mini-Golf Anlage, sowie einen kleinen Tier-Park 
      'La petite Ferme'. Ausführliche Informationen findet man auf der Webseite.
    <% end %>
    <% if langu == 'EN' %>
      The well known ocean and amusement park Marineland is located farely close to the 
      village on the "Route de la mer" next to the sea. Here you can enjoy killer whale 
      and delphin shows etc. Furthermore you also have the choice of "Adventure Golf" and 
      visiting "la petite Ferme - Wild West" very popular not only with smaller children. 
      More detailed information can be found on their web-site.
    <% end %>

    <br><br><br>
    <table class="table">  
      <thead>  
          <tr>  
            <th>Name</th>  
            <th>URL</th>  
          </tr>  
      </thead>  
      <tbody>  
          <tr>  
            <td>Marineland</td>  
            <td><%= link_to "www.marineland.fr", 
                 "http://www.marineland.fr", :target => "_blank" %> </td>  
          </tr>  
      </tbody>  
    </table>
  </div> <!-- tab Marineland-->

</div> <!-- tab content -->

    <script>
      $('#FMS2tab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      })
    </script>



