<% if langu == 'EN' %>
  <h1>Welcome to Biot</h1>
<% end %>

<% if langu == 'FR' %>
  <h1>Bienvenue a Biot</h1>
<% end %>

<% if langu == 'DE' %>
  <h1>Willkommen in  Biot</h1>
<% end %>
<br>
        <div id="FMSCarousel2" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><li><a><img src="/assets/intro_biot9.jpg"></a></li></div>
            <div class="item"><li><a><img src="/assets/intro_biot7.jpg"></a></li></div>
            <div class="item"><li><a><img src="/assets/intro_biot8.jpg"></a></li></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

<br>

<div id="container2">

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "Check out our little apartment in the heart of Biot at the Cote d'Azur", 
      ap1_path , class: "button2" %>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Visite virtuelle de notre petit studio au coeur du vieux village de Biot", 
      ap1_path , class: "button2" %>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Schauen Sie sich unsere Ferienwohnung im alten Dorf von Biot an",   
      ap1_path , class: "button2" %>
    <% end %>
  </div>

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "Learn more about the beautiful village Biot at the Côte
      d'Azur ", ap2_path ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Des informations detaillées sur Biot
      sur la Côte d'Azur", ap2_path ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Hier finden Sie Informationen ueber das kleine Dorf Biot
      an der Côte d'Azur", ap2_path ,class: "button2" %>
      <br><br>
    <% end %>
  </div>

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "Find some useful links to activities in and around Biot village", ap3_path ,class: "button2" %>
      <br><br><br>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Quelque idées pour passer la journée à Biot ou dans les environnements", ap3_path ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Einige Links mit Freizeitangeboten in der näheren Umgebung von Biot", ap3_path ,class: "button2" %>
      <br><br><br>
    <% end %>
  </div>

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "Login to your personal area and check the status of your booking",
      signin_path  ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Connectez-vous sur votre espace privé pour voir
      votre réservation", signin_path  ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Ihr persönlicher Bereich; überprüfen Sie den Stand Ihrer Buchung ", signin_path  ,class: "button2" %>
    <% end %>
  </div>
  <span class="stretch"></span>
</div>
    <script>
      $(function(){
      $('#FMSCarousel2').carousel();
      });
    </script>


