<% if langu == 'EN' %>
  <h1>Welcome to Biot</h1>
<% end %>

<% if langu == 'FR' %>
  <h1>Bienvenue a Biot</h1>
<% end %>

<% if langu == 'DE' %>
  <h1>Willkommen in  Biot</h1>
<% end %>
<br>
<br>

<div class="span8 offset2">
  <%= image_tag("intro_biot.jpg") %>
</div>

<div class="row">
</div>


<br> <br> 


<div id="container2">

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "Check out our little apartment in the heart of the old village of Biot at the Cote d'Azur", 
      ap1_path , class: "button2" %>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Visite virtuelle de notre petit studio au coeur du vieux village de Biot", 
      ap1_path , class: "button2" %>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Schauen Sie sich unsere Ferienwohnung im alten Dorf von Biot an",   
      ap1_path , class: "button2" %>
    <% end %>
  </div>

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "Learn more about the beautiful village of Biot at the Côte
      d'Azur closed to the sea", ap2_path ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Des informations detaillées sur le petit village de Biot
      sur la Côte d'Azur", ap2_path ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Hier finden Sie Informationen ueber das kleine Dorf Biot
      an der Côte d'Azur", ap2_path ,class: "button2" %>
      <br><br>
    <% end %>
  </div>

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "Some useful links to activities in and around Biot", ap3_path ,class: "button2" %>
      <br><br><br>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Quelque idées pour passer la journée à Biot ou dans les environnements", ap3_path ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Einige Links mit Freizeitangeboten in der näheren Umgebung von Biot", ap3_path ,class: "button2" %>
      <br><br><br>
    <% end %>
  </div>

  <div class="box1">
    <% if langu == 'EN' %>
      <%= link_to "If you have an ongoing booking logon to your personal area and check your booking",
      signin_path  ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'FR' %>
      <%= link_to "Connectez-vous sur votre espace privé pour voir la situation de
      votre réservation", signin_path  ,class: "button2" %>
      <br><br>
    <% end %>
    <% if langu == 'DE' %>
      <%= link_to "Ihr persönlicher Bereich; überprüfen Sie den Stand Ihrer Buchung ", signin_path  ,class: "button2" %>
    <% end %>
  </div>
  <span class="stretch"></span>
</div>

