<div class="row">
  <div class="span6 offset2">

<%= form_for(@rate) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br><br>
    <%= f.label :apartment %>
    <%= f.number_field :apartment %>
<br>
    <%= f.label :season %>
    <%= f.number_field :season %>
  <br>
    <%= f.label :price %>
    <%= f.number_field :price %>
  <br><br>
      <%= f.submit "Create/Change Rate", class: "btn btn-large btn-primary" %>
  
<% end %>

  </div>
</div>

