<p id="notice"><%= notice %></p>

<p>
  <b>Apartment:</b>
  <%= @rate.apartment %>
</p>

<p>
  <b>Season:</b>
  <%= @rate.season %>
</p>

<p>
  <b>Price:</b>
  <%= @rate.price %>
</p>


<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
